<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="environment" value="Development"/>
		<add key="protocol" value="https:"/>
		<add key="cdn" value="dev.betrad.com"/>
		<add key="companyId" value="242"/>
		<add key="domain" value="brandon.willoughby.com/us/"/>
	</appSettings>
</configuration>
